/* color codes */
backdrop color {
    background-color: #00fdc8;
    background-color: #666666;
    background-color: #eeeeee;
    background-color: #7c7ce0;
    background-color: #455a64;
    background-color: #78909c;
    background-color: #db4437;
    background-color: #ea9999;
    background-color: #f6cd4c;
}

/* color codes */
font colors {
    color: white; 
    color: #666666;
    color: #eeeeee;
    color: #7c7ce0;
    color: #455a64;
    color: #78909c;
    color: #db4437;
    color: #ea9999;
    color: #f6cd4c;
}